@charset "utf-8";
/**
 * Created by samsung on 14-11-30.
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/*initial)*/
body{ background-image: url(Browser/bg.png);}
.bg{position:absolute; z-index:0;}
.main{position:absolute; z-index:20;}
.main_span1{position:absolute; z-index:0;}
.main_img1{margin:52px auto auto 47px}
.main_img2{margin:16px auto auto 16px}
.main_img3{margin:18px auto auto 30px}



.main_span3{position:absolute; margin:-350px auto auto 162px; width:1015px; height:761px; overflow: hidden;}

.d4{margin:345px auto auto 180px; position: absolute}
.d4_s{margin: -20px auto auto -30px; position: absolute}

